<h1 style="text-align: center">Zona Estilos</h1>
<h2 style="text-align: center">Ingrese aqui los datos para su pedido</h2>

<main role="main" class="container">
  <div class="starter-template">
    <form #formPedido="ngForm">

      <div class="form-group">
        <label for="id_nombre">Nombre</label>
        <input  #name="ngModel"  [(ngModel)]="nuevoPedido.nombre" name="nombre" type="text" 
        class="form-control" id="id_nombre" placeholder="Nombre" 
         [ngClass]="{ 'is-invalid': formPedido.submitted && name.invalid }"
        required>
        <div *ngIf="formPedido.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Nombre es obligatorio</div>
        </div>
      </div>


      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="tipo_identificacion">Tipo de Identificacion</label>
          <select  #name="ngModel"  [(ngModel)]="nuevoPedido.tipo_identificacion" name="id"  class="form-control" id="tipo_identificacion"  required>
            <option value="">Seleccione un tipo</option>
            <option value="Cedula">Cedula</option>
            <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
            <option value="Pasaporte">Pasaporte</option>
            <option value="Cedula de estranjería">Cedula de estranjería</option>
          </select>
        </div>
      
        <div class="col-md-6 mb-3">
            <label for="id_identific">Identificacion</label>
            <input  #name="ngModel"  [(ngModel)]="nuevoPedido.identificacion" name="identificacion"
            [ngClass]="{ 'is-invalid': formPedido.submitted && identificacion.invalid }"
            type="text" class="form-control" id="id_identific" placeholder="Identificacion" required>
            <div *ngIf="formPedido.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required">Identificacion es obligatoria</div>
            </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tipo_ropa">Tipo de Producto</label>
        <select  #name="ngModel"  [(ngModel)]="nuevoPedido.tipo_ropa" name="tipo_ropa"   class="form-control" id="tipo_ropa"  required>
          <option  value="">Seleccione un tipo</option>
          <option class="col s12 m6 l4" *ngFor="let produc of productos ">
              <label>{{produc.nombre}}</label>
          </option>
        </select>
      </div>
      <div class="form-group">
          <label for="cantidad">Cantidad</label>
          <select  #name="ngModel"  [(ngModel)]="nuevoPedido.cantidad" name="cantidad"   class="form-control" id="cantidad"  required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      <div class="form-group">
        <label for="fecha_hora_entrega">Fecha de entrega</label>
        <input  #name="ngModel"  [(ngModel)]="nuevoPedido.fecha_hora_entrega" name="fechaentrega"   type="datetime" class="form-control" id="fecha_hora_entrega" placeholder="Fecha de entrega" required>
      </div>
      <div class="form-group">
        <label for="direccion_entrega">Direccion de entrega</label>
        <input   #name="ngModel"  [(ngModel)]="nuevoPedido.direccion_entrega" name="direccion_entrega"   type="text" class="form-control" id="direccion_entrega" placeholder="Direccion de entrega" required>
         <!--
        <div class="col s12 m6 l4" *ngFor="let post of posts | async">
          <label for="id_direccion"> es una staciom: {{ post | json }} </label>
        </div>-->
      </div>

      <button [disabled]="formPedido.invalid"  (click)="registrarPedido()" class="btn btn-primary" >Enviar Pedido</button>
      <!--{{ respuesta | async | json }} [disabled]="formPedido.invalid" -->
    </form>
    
  </div>

</main>