/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #f0f0f0;
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif
}

.centrar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.imagen{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contacto{
  display: block;
  width: 350px;
}